<form asp-controller="Employees" asp-action="Index" method="get" class="d-flex me-3">
    <input class="form-control form-control-sm me-2"
           type="search"
           name="SearchTerm"
           placeholder="Quick employee search..."
           aria-label="Search">
    <button class="btn btn-sm btn-outline-light" type="submit">
        <i class="bi bi-search"></i>
    </button>
</form>